$(function() {
    $(".button-bet").submit(function() {
        $.get('/getcurrentuser').success(function(data) {
          updateSaleStatus(data.id);
        });
    });

    function updateSaleStatus(id)
    {
        $.get('/getsalestatus').success(function(data) {
            $.each(data, function(index, value ) {
                if(parseInt(value.user_id) == parseInt(id))
                {
                    $('.sale-'+value.id).val("It's yours... for now!");
                    $('.sale-'+value.id).prop( "disabled", true );
                }
                else
                {
                    $('.sale-'+value.id).val(value.price + " pts");
                    $('.sale-'+value.id).prop( "disabled", false );
                }
            });
        });
    }

    updateButtons();

    function updateButtons() {
        $.get('/getcurrentuser').success(function(data) {
            setTimeout(updateButtons,5000);
            updateSaleStatus(data.id);
        });
    }

  $(".button-bet").on("ajax:success", function(e, data, status, xhr){
    appendFlashAjax("Your bet as been placed !", "success");
  }).on("ajax:error", function(e, xhr, status, error){
    appendFlashAjax("An error occured :(", "error");
  });

  function appendFlashAjax(msg, type)
  {
    $("#flash_hook").append("<div class='row'> <div data-closable class='callout " + type + "'>" + msg + "<button class='close-button' aria-label='Close alert' type='button' data-close> <span aria-hidden='true'>×</span></button> </div> </div>");
  }
});


