<div class="row">
  <div class="small-12 columns" id="offers">
    <div class="row">
      <div class="large-3 medium-3 small-12 columns text-center">
        <%= link_to "Buy 500 credits", '/buy/credits/500', :class => 'button expanded offer-button' %>
      </div>
      <div class="large-3 medium-3 small-12 columns ">
        <%= link_to "Buy 1000 credits", '/buy/credits/1000', :class => 'button expanded offer-button' %>
      </div>
      <div class="large-3 medium-3 small-12 columns ">
        <%= link_to "Buy 2500 credits", '/buy/credits/2500', :class => 'button expanded offer-button' %>
      </div>
      <div class="large-3 medium-3 small-12 columns ">
        <%= link_to "Buy 5000 credits", '/buy/credits/5000', :class => 'button expanded offer-button' %>
      </div>
    </div>
  </div>
</div>